@import 'https://fonts.googleapis.com/css?family=Comfortaa:400,700|Fredoka+One|Nunito:400,800,900|Poiret+One|Quicksand:400,500,700';


html,
body {
  font-family: 'nunito', sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

/* Nav bar */

 nav ul {
  position: static;
  text-align: right;
  width: 100%;
  background-color: #771414;
  font-family: "nunito",sans-serif; 
  font-size: 1em; 
}

nav ul li {
  display: inline-block;
  margin: 20px; 
}

nav ul li a {
  color: #fff;
  text-decoration: none;  
}
nav ul li a:hover {
  color: #ababab;
}

/* about me */

.welcome-section {
  background: #ffffff;
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%
}

#background {
  background: #B38CB4;
  position:absolute;
  top: 120px;
  right: 370px;
  width: 630px;
  height: 230px;
  z-index: 0;
  opacity: 50%;
}

div.post-content {
  text-align: left;
  margin-right: 28%;
  float:center;
  z-index:1;
}

div.post-thumb{
  margin-left: 25%;
  margin-right: 20px;
  z-index: 1;
}

img#display-pic{
  border-radius: 50%;
}

h3.post-title{
  font-weight: 700;
  font-size: 5em;
  color : #000;
  font-family: Helvetica;
  margin-bottom:10px;
}
