{% include base_path %}

<a href="mailto:{{ site.email }}"><svg class="svg-icon"><use xlink:href="/assets/icons.svg#gmail"></use></svg></a>
<a href="https://www.linkedin.com/in/{{ site.social_sites.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i></a>
<a href="https://twitter.com/{{ site.social_sites.twitter}}"><svg class="svg-icon"><use xlink:href="/assets/icons.svg#twitter"></use></svg></a>
<a href="https://github.com/{{ site.social_sites.github }}"><svg class="svg-icon"><use xlink:href="/assets/icons.svg#github"></use></svg></a>
